<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body style="background-color: ivory;">
    <!-- NavBar Content -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">LogUrAttendance</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/addAttendance">Add Attendance</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/addStudent">Add Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="addTeacher">Add Teacher</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/attendanceOnDate">Get List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/executeQuery">Custom Query</a>
                </li>
                <!-- <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
                </li> -->
            </ul>
            </div>
        </div>
    </nav>

    <div style="padding-top: 120px; padding-left: 50px;">
        <h2>Enter Attendance</h2>
    </div>

    <div class="container" style="background-color: lightgoldenrodyellow; text-align: center; margin-top: 40px; border-radius: 10px; border-width: 5px; border-style: groove; padding: 50px 0px;">
        <form action="" method="post">
            <div>
                <h3 class="font-monospace" style="display: inline;">Student ID: </h3>
                <input type="text" name="sid" />
            </div>
            <br>
            <div>
                <h3 class="font-monospace" style="display: inline;">Teacher ID: </h3>
                 <input type="text" name="tid" />
            </div>
            <br>
            <div>
                <h3 class="font-monospace" style="display: inline;">Date: </h3>
                 <input type="date" name="date" />
            </div>
            <br>
            <div>
                <h3 class="font-monospace" style="display: inline;">Attendance: </h3>
                 <input type="text" name="status" />
            </div>
            <br>
            <input type="submit" value="Send" class="btn btn-primary">
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>